// Transition mixins
@mixin transition($args...) {
    transition: $args;
    -webkit-transition: $args;
    -moz-transition: $args;
}

@mixin transition-property($args...) {
    transition-property: $args;
    -webkit-transition-property: $args;
    -moz-transition-property: $args;
}