// Transition mixins
@mixin transition($args...) {
    transition: $args;
    -webkit-transition: $args;
    -moz-transition: $args;
}

@mixin transition-property($args...) {
    transition-property: $args;
    -webkit-transition-property: $args;
    -moz-transition-property: $args;
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin transform($args...) {
    -webkit-transform: $args;
    -moz-transform: $args;
    -ms-transform: $args;
    transform: $args;
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    animation: #{$str};
}

@mixin animation-fill-mode($str) {
    -webkit-animation-fill-mode: #{$str};
    -moz-animation-fill-mode: #{$str};

    animation-fill-mode: #{$str};
}