@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #776e65;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

body {
  margin: 20px 0;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

.container {
  width: 600px;
  margin: 0 auto;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
p {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.65;
}

a {
  color: #776e65;
  font-weight: bold;
  text-decoration: underline;
}

strong.important {
  text-transform: uppercase;
}

code {
  font-size: 15px;
  background-color: rgba(211, 211, 211, 0.5);
}

hr {
  border: none;
  border-bottom: 1px solid #d8d4d0;
  margin-top: 20px;
  margin-bottom: 30px;
}

.game-intro {
  position: relative;
  float: left;
  width: 360px;
  height: 160px;
  margin-bottom: 10px;
}
.game-intro .game-intro-explanation {
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
}

.game-intro-side, .turn-info, .game-container {
  overflow: hidden;
  position: relative;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 18px;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  background: #bbada0;
  box-sizing: border-box;
}

.game-intro-side {
  float: right;
  padding: 10px 12px;
  width: 225px;
  height: 160px;
}
.game-intro-side > * > * {
  position: relative;
  height: 65px;
  margin-bottom: 10px;
  font-weight: bold;
  border-radius: 9px;
  background: rgba(238, 228, 218, 0.35);
  text-align: center;
}
.game-intro-side > .game-meta {
  float: left;
  width: 65px;
}
.game-intro-side > .game-meta > * {
  background-color: #eee4da;
  line-height: 65px;
  font-size: 35px;
}
.game-intro-side > .game-meta > *:before {
  position: absolute;
  width: 100%;
  top: 5px;
  left: 0;
  color: #f9f6f2;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
}
.game-intro-side > .game-meta > *:active {
  background-color: #776e65;
  color: #f9f6f2;
}
.game-intro-side > .game-info {
  float: right;
  width: 120px;
  font-size: 25px;
  line-height: 80px;
}
.game-intro-side > .game-info > *:before {
  position: absolute;
  width: 100%;
  top: 5px;
  left: 0;
  color: #f9f6f2;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
}
.game-intro-side .score-total-container::before {
  content: "Score";
}
.game-intro-side .score-total-container.normal::before {
  content: "Normal";
}
.game-intro-side .score-total-container.hard::before {
  content: "Hard";
}
.game-intro-side .score-total-container.expert::before {
  content: "Expert";
}
.game-intro-side .score-total-container.debug::after {
  content: "DEBUG";
  font-size: 10px;
}
.game-intro-side .turns-container::before {
  content: "Turns";
}

.turn-info {
  width: 600px;
  height: 75px;
}
.turn-info .calculation-container strong {
  font-size: 30px;
  line-height: 45px;
}
.turn-info .calculation-container {
  float: right;
  color: #f9f6f2;
}

.word-construct-container {
  padding: 0px 10px;
  background-color: #eee4da;
  font-family: monospace;
  width: 330px;
  height: 45px;
  overflow: hidden;
  float: left;
  padding: 0 10px;
  font-size: 30px;
  line-height: 45px;
}
.word-construct-container:after {
  float: right;
  opacity: 0.5;
}
.word-construct-container.valid::after {
  content: "✔️";
}
.word-construct-container.invalid::after {
  content: "❌";
}
.word-construct-container.finish-select:after {
  opacity: 1;
}
.word-construct-container.hide-validity:after {
  visibility: hidden;
}
.word-construct-container .tile.construct {
  display: inline-block;
  border-radius: 3px;
  height: 1.6ch;
  line-height: 1.5ch;
  margin-right: 1px;
}
.word-construct-container .tile.construct.double-letter {
  background-color: rgba(0, 0, 255, 0.2470588235);
}
.word-construct-container .tile.construct.triple-letter {
  background-color: rgba(255, 0, 0, 0.2470588235);
}
.word-construct-container .tile.construct.double-word {
  font-weight: bold;
  color: rgba(59, 59, 255, 0.7490196078);
}
.word-construct-container .tile.construct.triple-word {
  font-weight: bold;
  color: rgba(255, 59, 59, 0.7490196078);
}

.game-container {
  margin-top: 10px;
  width: 600px;
  height: 600px;
  border-radius: 27px;
  touch-action: none;
}
.game-container > .game-loading, .game-container > .game-over, .game-container > .game-new, .game-container > .game-howto {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  text-align: center;
  z-index: 100;
  height: 600px;
  background-color: rgba(119, 110, 101, 0.75);
  color: #f9f6f2;
}
.game-container > .game-loading.show, .game-container > .game-over.show, .game-container > .game-new.show, .game-container > .game-howto.show {
  visibility: visible;
  -webkit-animation: fade-in ease 0.5s;
  animation: fade-in ease 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.game-container > .game-loading.hide, .game-container > .game-over.hide, .game-container > .game-new.hide, .game-container > .game-howto.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}
.game-container .game-loading, .game-container .game-over .game-over-main {
  font-size: 60px;
  font-weight: bold;
}
.game-container .game-loading {
  color: #eee4da;
  background: rgba(119, 110, 101, 0.5);
  line-height: 600px;
}
.game-container .game-loading.show {
  visibility: unset;
  -webkit-animation: unset;
          animation: unset;
}
.game-container .game-howto {
  text-align: left;
}
.game-container .game-howto .game-howto-content {
  margin: 100px 40px;
}
.game-container .game-howto .game-howto-content .important {
  font-size: 35px;
}
.game-container .game-howto ul {
  font-size: 20px;
}
.game-container .game-howto ol {
  font-size: 15px;
}
.game-container .game-howto li {
  margin-bottom: 10px;
}
.game-container .game-new {
  color: #f9f6f2;
}
.game-container .game-new::before {
  content: "Select Difficulty";
  margin-top: 100px;
  margin-bottom: 10px;
  font-size: 50px;
  font-weight: bold;
  display: block;
}
.game-container .game-new .difficulty {
  width: 170px;
  padding-left: 20px;
  padding-top: 20px;
  display: block;
  float: left;
}
.game-container .game-new .difficulty:first-child {
  padding-left: 40px;
}
.game-container .game-new .button {
  font-size: 30px;
  font-weight: bold;
  line-height: 65px;
  color: #776e65;
  height: 65px;
  width: 150px;
  border-radius: 9px;
  background-color: #eee4da;
  cursor: pointer;
}
.game-container .game-new .button:active {
  background-color: #776e65;
  color: #f9f6f2;
}
.game-container .game-new .explanation {
  text-align: left;
}
.game-container .game-new ul {
  padding: 0;
}

.game-container > .game-over {
  background: rgba(238, 228, 218, 0.75);
  color: #776e65;
}
.game-container > .game-over .game-over-main {
  margin-top: 120px;
}
.game-container > .game-over .tip-container::before {
  content: "TIP: ";
  font-weight: bold;
}
.game-container > .game-over .ranks {
  padding-top: 50px;
}
.game-container > .game-over .ranks > div {
  display: inline-block;
  width: 270px;
  height: 80px;
  margin: 10px;
  padding: 5px;
  background-color: rgba(187, 173, 160, 0.75);
  border-radius: 18px;
}
.game-container > .game-over .ranks > div::before {
  font-size: 25px;
  font-weight: bold;
}
.game-container > .game-over .word-rank-container {
  float: left;
}
.game-container > .game-over .word-rank-container::before {
  content: "Top Word";
  display: block;
}
.game-container > .game-over .word-rank-container .word-construct-container {
  width: 150px;
  transform: scale(0.8);
}
.game-container > .game-over .word-rank-container .score {
  line-height: 45px;
  font-size: 30px;
  color: #f9f6f2;
  font-weight: bold;
}
.game-container > .game-over .game-rank-container {
  float: right;
}
.game-container > .game-over .game-rank-container::before {
  content: "High Scores";
}

.grid-container {
  position: absolute;
  z-index: 1;
}
.grid-container .grid-row {
  margin-bottom: 30px;
}
.grid-container .grid-row:last-child {
  margin-bottom: 0;
}
.grid-container .grid-row:after {
  content: "";
  display: block;
  clear: both;
}
.grid-container .grid-row .grid-cell {
  width: 90px;
  height: 90px;
  margin-right: 30px;
  float: left;
  border-radius: 18px;
  background: rgba(238, 228, 218, 0.35);
}
.grid-container .grid-row .grid-cell:last-child {
  margin-right: 0;
}

.tile-container {
  position: absolute;
  z-index: 2;
}

.tile-container .tile {
  background: red;
  width: 90px;
  height: 90px;
  border-radius: 18px;
  background: #eee4da;
  text-align: center;
  line-height: 90px;
  font-size: 36px;
  font-weight: bold;
  touch-action: none;
  transition: 800ms cubic-bezier(0.4, 1, 0.66, 1);
  -webkit-transition: 800ms cubic-bezier(0.4, 1, 0.66, 1);
  -moz-transition: 800ms cubic-bezier(0.4, 1, 0.66, 1);
  transition-property: top, left;
  -webkit-transition-property: top, left;
  -moz-transition-property: top, left;
  /*
      &.tile-new {
          @include animation(appear $transition-speed ease);
          @include animation-fill-mode(both)
      }
  */
}
.tile-container .tile.tile-position-1-1 {
  position: absolute;
  left: 0px;
  top: 480px;
}
.tile-container .tile.tile-position-1-2 {
  position: absolute;
  left: 0px;
  top: 360px;
}
.tile-container .tile.tile-position-1-3 {
  position: absolute;
  left: 0px;
  top: 240px;
}
.tile-container .tile.tile-position-1-4 {
  position: absolute;
  left: 0px;
  top: 120px;
}
.tile-container .tile.tile-position-1-5 {
  position: absolute;
  left: 0px;
  top: 0px;
}
.tile-container .tile.tile-position-1-6 {
  position: absolute;
  left: 0px;
  top: -120px;
}
.tile-container .tile.tile-position-1-7 {
  position: absolute;
  left: 0px;
  top: -240px;
}
.tile-container .tile.tile-position-1-8 {
  position: absolute;
  left: 0px;
  top: -360px;
}
.tile-container .tile.tile-position-1-9 {
  position: absolute;
  left: 0px;
  top: -480px;
}
.tile-container .tile.tile-position-1-10 {
  position: absolute;
  left: 0px;
  top: -600px;
}
.tile-container .tile.tile-position-2-1 {
  position: absolute;
  left: 120px;
  top: 480px;
}
.tile-container .tile.tile-position-2-2 {
  position: absolute;
  left: 120px;
  top: 360px;
}
.tile-container .tile.tile-position-2-3 {
  position: absolute;
  left: 120px;
  top: 240px;
}
.tile-container .tile.tile-position-2-4 {
  position: absolute;
  left: 120px;
  top: 120px;
}
.tile-container .tile.tile-position-2-5 {
  position: absolute;
  left: 120px;
  top: 0px;
}
.tile-container .tile.tile-position-2-6 {
  position: absolute;
  left: 120px;
  top: -120px;
}
.tile-container .tile.tile-position-2-7 {
  position: absolute;
  left: 120px;
  top: -240px;
}
.tile-container .tile.tile-position-2-8 {
  position: absolute;
  left: 120px;
  top: -360px;
}
.tile-container .tile.tile-position-2-9 {
  position: absolute;
  left: 120px;
  top: -480px;
}
.tile-container .tile.tile-position-2-10 {
  position: absolute;
  left: 120px;
  top: -600px;
}
.tile-container .tile.tile-position-3-1 {
  position: absolute;
  left: 240px;
  top: 480px;
}
.tile-container .tile.tile-position-3-2 {
  position: absolute;
  left: 240px;
  top: 360px;
}
.tile-container .tile.tile-position-3-3 {
  position: absolute;
  left: 240px;
  top: 240px;
}
.tile-container .tile.tile-position-3-4 {
  position: absolute;
  left: 240px;
  top: 120px;
}
.tile-container .tile.tile-position-3-5 {
  position: absolute;
  left: 240px;
  top: 0px;
}
.tile-container .tile.tile-position-3-6 {
  position: absolute;
  left: 240px;
  top: -120px;
}
.tile-container .tile.tile-position-3-7 {
  position: absolute;
  left: 240px;
  top: -240px;
}
.tile-container .tile.tile-position-3-8 {
  position: absolute;
  left: 240px;
  top: -360px;
}
.tile-container .tile.tile-position-3-9 {
  position: absolute;
  left: 240px;
  top: -480px;
}
.tile-container .tile.tile-position-3-10 {
  position: absolute;
  left: 240px;
  top: -600px;
}
.tile-container .tile.tile-position-4-1 {
  position: absolute;
  left: 360px;
  top: 480px;
}
.tile-container .tile.tile-position-4-2 {
  position: absolute;
  left: 360px;
  top: 360px;
}
.tile-container .tile.tile-position-4-3 {
  position: absolute;
  left: 360px;
  top: 240px;
}
.tile-container .tile.tile-position-4-4 {
  position: absolute;
  left: 360px;
  top: 120px;
}
.tile-container .tile.tile-position-4-5 {
  position: absolute;
  left: 360px;
  top: 0px;
}
.tile-container .tile.tile-position-4-6 {
  position: absolute;
  left: 360px;
  top: -120px;
}
.tile-container .tile.tile-position-4-7 {
  position: absolute;
  left: 360px;
  top: -240px;
}
.tile-container .tile.tile-position-4-8 {
  position: absolute;
  left: 360px;
  top: -360px;
}
.tile-container .tile.tile-position-4-9 {
  position: absolute;
  left: 360px;
  top: -480px;
}
.tile-container .tile.tile-position-4-10 {
  position: absolute;
  left: 360px;
  top: -600px;
}
.tile-container .tile.tile-position-5-1 {
  position: absolute;
  left: 480px;
  top: 480px;
}
.tile-container .tile.tile-position-5-2 {
  position: absolute;
  left: 480px;
  top: 360px;
}
.tile-container .tile.tile-position-5-3 {
  position: absolute;
  left: 480px;
  top: 240px;
}
.tile-container .tile.tile-position-5-4 {
  position: absolute;
  left: 480px;
  top: 120px;
}
.tile-container .tile.tile-position-5-5 {
  position: absolute;
  left: 480px;
  top: 0px;
}
.tile-container .tile.tile-position-5-6 {
  position: absolute;
  left: 480px;
  top: -120px;
}
.tile-container .tile.tile-position-5-7 {
  position: absolute;
  left: 480px;
  top: -240px;
}
.tile-container .tile.tile-position-5-8 {
  position: absolute;
  left: 480px;
  top: -360px;
}
.tile-container .tile.tile-position-5-9 {
  position: absolute;
  left: 480px;
  top: -480px;
}
.tile-container .tile.tile-position-5-10 {
  position: absolute;
  left: 480px;
  top: -600px;
}
.tile-container .tile > .tileScore {
  line-height: initial;
  display: block;
  position: absolute;
  font-size: 24px;
  width: 40%;
  height: 40%;
  line-height: 40px;
  left: 0;
  top: 0;
}
.tile-container .tile.double-word::after {
  content: "DW";
  font-weight: bold;
  color: blue;
  background-color: rgba(187, 173, 160, 0.5);
  bottom: 0;
  border-radius: 3px 0 18px 0;
}
.tile-container .tile.triple-word::after {
  content: "TW";
  font-weight: bold;
  color: red;
  background-color: rgba(187, 173, 160, 0.5);
  bottom: 0;
  border-radius: 3px 0 18px 0;
}
.tile-container .tile.double-letter::after {
  content: "DL";
  background-color: rgba(0, 0, 255, 0.5);
  top: 0;
  border-radius: 0 18px 0 3px;
}
.tile-container .tile.triple-letter::after {
  content: "TL";
  background-color: rgba(255, 0, 0, 0.5);
  top: 0;
  border-radius: 0 18px 0 3px;
}
.tile-container .tile:after {
  line-height: initial;
  font-weight: normal;
  color: #f9f6f2;
  display: block;
  position: absolute;
  font-size: 18px;
  font-family: monospace;
  width: 33%;
  height: 33%;
  line-height: 30px;
  right: 0;
}
.tile-container .tile.selected {
  background-color: #776e65;
  color: #f9f6f2;
}

/* These do not come out satisfying...
@include keyframes(appear) {
    // Opacity makes it unnecessarily laggy
    0% {
        -webkit-transform: scale(0.33);
        //opacity: 0.5;
    }
    75% {
        -webkit-transform: scale(1);
        //opacity: 1;
    }
}*/
.game-explanation {
  margin-top: 0;
}/*# sourceMappingURL=main.css.map */