html, body {
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #776e65;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

body {
  margin: 80px 0;
}

h1 {
  font-size: 80px;
  font-weight: bold;
  margin: 0;
}

.container {
  width: 600px;
  margin: 0 auto;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.65;
}

a {
  color: #776e65;
  font-weight: bold;
  text-decoration: underline;
}

strong.important {
  text-transform: uppercase;
}

hr {
  border: none;
  border-bottom: 1px solid #d8d4d0;
  margin-top: 20px;
  margin-bottom: 30px;
}

.game-container {
  margin-top: 40px;
  position: relative;
  padding: 20px;
  background: #bbada0;
  border-radius: 28.8px;
  width: 600px;
  height: 600px;
  box-sizing: border-box;
}

.grid-container {
  position: absolute;
  z-index: 1;
}

.grid-row {
  margin-bottom: 20px;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}
.grid-row:last-child {
  margin-bottom: 0;
}
.grid-row:after {
  content: "";
  display: block;
  clear: both;
}

.grid-cell {
  width: 96px;
  height: 96px;
  margin-right: 20px;
  float: left;
  border-radius: 19.2px;
  background: rgba(238, 228, 218, 0.35);
}
.grid-cell:last-child {
  margin-right: 0;
}

.tile-container {
  position: absolute;
  z-index: 2;
}

.tile {
  background: red;
  width: 96px;
  height: 96px;
  border-radius: 19.2px;
  background: #eee4da;
  text-align: center;
  line-height: 96px;
  font-size: 40px;
  font-weight: bold;
  transition: 200ms ease;
  -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;
  transition-property: top, left;
  -webkit-transition-property: top, left;
  -moz-transition-property: top, left;
}
.tile.tile-position-1-1 {
  position: absolute;
  left: 0px;
  top: 0px;
}
.tile.tile-position-1-2 {
  position: absolute;
  left: 0px;
  top: 116px;
}
.tile.tile-position-1-3 {
  position: absolute;
  left: 0px;
  top: 232px;
}
.tile.tile-position-1-4 {
  position: absolute;
  left: 0px;
  top: 348px;
}
.tile.tile-position-1-5 {
  position: absolute;
  left: 0px;
  top: 464px;
}
.tile.tile-position-2-1 {
  position: absolute;
  left: 116px;
  top: 0px;
}
.tile.tile-position-2-2 {
  position: absolute;
  left: 116px;
  top: 116px;
}
.tile.tile-position-2-3 {
  position: absolute;
  left: 116px;
  top: 232px;
}
.tile.tile-position-2-4 {
  position: absolute;
  left: 116px;
  top: 348px;
}
.tile.tile-position-2-5 {
  position: absolute;
  left: 116px;
  top: 464px;
}
.tile.tile-position-3-1 {
  position: absolute;
  left: 232px;
  top: 0px;
}
.tile.tile-position-3-2 {
  position: absolute;
  left: 232px;
  top: 116px;
}
.tile.tile-position-3-3 {
  position: absolute;
  left: 232px;
  top: 232px;
}
.tile.tile-position-3-4 {
  position: absolute;
  left: 232px;
  top: 348px;
}
.tile.tile-position-3-5 {
  position: absolute;
  left: 232px;
  top: 464px;
}
.tile.tile-position-4-1 {
  position: absolute;
  left: 348px;
  top: 0px;
}
.tile.tile-position-4-2 {
  position: absolute;
  left: 348px;
  top: 116px;
}
.tile.tile-position-4-3 {
  position: absolute;
  left: 348px;
  top: 232px;
}
.tile.tile-position-4-4 {
  position: absolute;
  left: 348px;
  top: 348px;
}
.tile.tile-position-4-5 {
  position: absolute;
  left: 348px;
  top: 464px;
}
.tile.tile-position-5-1 {
  position: absolute;
  left: 464px;
  top: 0px;
}
.tile.tile-position-5-2 {
  position: absolute;
  left: 464px;
  top: 116px;
}
.tile.tile-position-5-3 {
  position: absolute;
  left: 464px;
  top: 232px;
}
.tile.tile-position-5-4 {
  position: absolute;
  left: 464px;
  top: 348px;
}
.tile.tile-position-5-5 {
  position: absolute;
  left: 464px;
  top: 464px;
}
.tile.tile-a::before {
  content: "1";
}
.tile.tile-b::before {
  content: "3";
}
.tile.tile-c::before {
  content: "3";
}
.tile.tile-d::before {
  content: "2";
}
.tile.tile-e::before {
  content: "1";
}
.tile.tile-f::before {
  content: "4";
}
.tile.tile-g::before {
  content: "2";
}
.tile.tile-h::before {
  content: "4";
}
.tile.tile-i::before {
  content: "1";
}
.tile.tile-j::before {
  content: "8";
}
.tile.tile-k::before {
  content: "5";
}
.tile.tile-l::before {
  content: "1";
}
.tile.tile-m::before {
  content: "3";
}
.tile.tile-n::before {
  content: "1";
}
.tile.tile-o::before {
  content: "1";
}
.tile.tile-p::before {
  content: "3";
}
.tile.tile-qu::before {
  content: "10";
}
.tile.tile-r::before {
  content: "1";
}
.tile.tile-s::before {
  content: "1";
}
.tile.tile-t::before {
  content: "1";
}
.tile.tile-u::before {
  content: "1";
}
.tile.tile-v::before {
  content: "4";
}
.tile.tile-w::before {
  content: "4";
}
.tile.tile-x::before {
  content: "8";
}
.tile.tile-y::before {
  content: "4";
}
.tile.tile-z::before {
  content: "10";
}
.tile:before {
  line-height: initial;
  display: block;
  position: absolute;
  font-size: 25px;
  width: 40%;
  height: 40%;
  line-height: 42px;
  left: 0;
  top: 0;
}
.tile.double-word::after {
  content: "DW";
  background-color: rgba(0, 0, 255, 0.5);
  bottom: 0;
  border-radius: 3px 3px 19.2px 3px;
}
.tile.triple-word::after {
  content: "TW";
  background-color: rgba(255, 0, 0, 0.5);
  bottom: 0;
  border-radius: 3px 3px 19.2px 3px;
}
.tile.double-letter::after {
  content: "DL";
  background-color: rgba(0, 0, 255, 0.5);
  top: 0;
  border-radius: 3px 19.2px 3px 3px;
}
.tile.triple-letter::after {
  content: "TL";
  background-color: rgba(255, 0, 0, 0.5);
  top: 0;
  border-radius: 3px 19.2px 3px 3px;
}
.tile:after {
  line-height: initial;
  font-weight: normal;
  color: #f9f6f2;
  display: block;
  position: absolute;
  font-size: 20px;
  font-family: monospace;
  width: 33%;
  height: 33%;
  line-height: 32px;
  right: 0;
}

.game-intro {
  margin-bottom: 0;
}

.game-explanation {
  margin-top: 50px;
}/*# sourceMappingURL=main.css.map */